{
	"presets": ["react-app"],
	"plugins": [
		"transform-class-properties",
		"@babel/plugin-transform-runtime",
		"@babel/plugin-proposal-export-default-from",
		"@babel/plugin-transform-named-capturing-groups-regex",
		"jsx-control-statements"
	]
}
