# dependencies #
#############
/node_modules

# testing #
#############
/coverage

# production #
#############


# misc #
#############
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#ESLint config #
#############
.eslintrc.json


# IDE files #
#############
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
composer.lock
.history/
.vscode/

# Storybook build files #
#############
storybook-static/
